<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         cacheResultFile="runtime/.phpunit.result.cache"
         backupGlobals="false"
         colors="true"
         processIsolation="false"
         executionOrder="random"
         stopOnFailure="false"
         stopOnError="false"
         stderr="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Goridge</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <report>
            <html outputDirectory="runtime/phpunit/coverage"/>
            <text outputFile="runtime/phpunit/coverage.txt"/>
            <clover outputFile="runtime/phpunit/logs/clover.xml"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="runtime/report.junit.xml"/>
    </logging>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
